<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <configSections>
        </configSections>
        <connectionStrings>
                <add name="schedule.Properties.Settings.scheduleConnectionString"
                        connectionString="Provider=Microsoft.ACE.OLEDB.16.0;Data Source=|DataDirectory|\schedule.accdb"
                        providerName="System.Data.OleDb" />
        </connectionStrings>
        <startup>
            
        </startup>
</configuration>