<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <configSections>
        </configSections>
        <connectionStrings>
                <add name="schedule.Properties.Settings.scheduleConnectionString"
                        connectionString="Provider=Microsoft.ACE.OLEDB.16.0;Data Source=|DataDirectory|\.accdb"
                        providerName="System.Data.OleDb" />
                <add name="schedule.Properties.Settings.scheduleConnectionString1"
                        connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\schedule.accdb"
                        providerName="System.Data.OleDb" />
                <add name="schedule.Properties.Settings.scheduleConnectionString2"
                        connectionString="Provider=Microsoft.ACE.OLEDB.16.0;Data Source=|DataDirectory|\schedule.accdb"
                        providerName="System.Data.OleDb" />
                <add name="schedule.Properties.Settings.scheduleConnectionString3"
                        connectionString="Provider=Microsoft.ACE.OLEDB.16.0;Data Source=|DataDirectory|\bin\Debug\schedule.accdb"
                        providerName="System.Data.OleDb" />
        </connectionStrings>
        <startup>
            
        </startup>
</configuration>